@font-face {
  font-family: "BricolageGrotesque";
  src: url("fonts/BricolageGrotesque-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #02012b;
  color: white;
  font-family: "DMSans", sans-serif;
}

.logo {
  margin-left: 100px;
  margin-right: auto;
  margin-top: 50px;
}

.head-text {
  font-family: "BricolageGrotesque-Bold", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: 1px solid white;
}

.weather-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(0, 0%, 100%);
}
